{% extends "base.html" %}  <!-- Extend the base template -->

{% block title %}Home{% endblock %}  <!-- Set the title of this page -->

{% block content %}  <!-- Start defining the content of this block -->

<br>
<h3 align="center" style="font-size: 50px; color: #333; font-weight: bold; margin-bottom: 20px;">REMINDER NOTES</h3>
<br>
<ul class="list-group list-group-flush" id="notes">
    <!-- Loop through user's notes and display them -->
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }} 
    </li>
    {% endfor %}
</ul>
<form method="POST">  <!-- Form for adding a new note -->
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <label for="date">Date: </label>
    <input type="date" id="date" name="date">
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>

{% endblock %}  <!-- End of the content block -->

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("important");
        var close = document.getElementById("close");

        modal.style.display = "block"; // Display the modal when the page loads

        close.addEventListener("click", function() {
            modal.style.display = "none";
        });
    });
</script>
{% endblock %}